{% extends "front/base.html.twig" %}

{% block container %}
<div class="well">


<div class="d-flex">
            {{ form_start(form,{'attr':{'novalidate':'novalidate', 'class':'needs-validation'}}) }}


				{{ form_widget(form) }}


				<button type="submit" class="btn btn-primary">Dodaj</button>

			{{form_end(form)}}
</div>

	</div>

{% endblock %}