<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Logowanie do panelu AM1
			{% endblock %}
		</title>

		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

		{% block stylesheets %}
			<script src="https://kit.fontawesome.com/5402199d6e.js" crossorigin="anonymous"></script>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts_bottom %}
        
        {% endblock %}
	</body>
</html>
